{% extends 'base.html' %}
{% load widget_tweaks static %}
{% block title %}
	Maqr6 | Forget about the cleaning, enjoy the result!
{% endblock %}
{% block extra_head %}
	<script src="{% static 'js/jquery.mask.min.js' %}"></script>
	<script type="text/javascript">
		$(function(){
			$("#id_phone").mask("(000) 00-00-00",{placeholder:"(xxx) xx-xx-xx"});
		});
	</script>
	{{ form.media }}
{% endblock %}
{% block content %}
	<div class="container">
	    <form id="bookFrom" class="form-horizontal" method="post" action="">
	    	{% csrf_token %}
			<div class="row">
				{{ form.non_field_errors }}
				<h3 class="text-center">Tell us about yourself</h3>
				<div class="container">
					<div class="form-group">
						
							<div class="col-md-6 col-sm-12">
								{{ form.fullName.errors }}
								<span class="required"></span>
								{% with ph=form.fullName.label %}
									{% render_field form.fullName placeholder=ph class="form-control top20" %}
									
								{% endwith %}	
							</div>
							<div class="col-md-6 col-sm-12">
								{{ form.phone.errors }}
								<span class="required"></span>
								{% with ph=form.phone.label|capfirst %}
									{% render_field form.phone class="form-control top20" placeholder=ph %}
								{% endwith %}
								
							</div>
						
							<div class="col-md-6 col-md-offset-3 col-sm-12">
								{% with ph=form.email.name|capfirst %}
									{{ form.email.errors }}
									{% render_field form.email  class="form-control top20" placeholder=ph %}
								{% endwith %}
							</div>	
					</div>
				</div>
			</div>
				<hr>
				
				<div class="row">
					<h3 class="text-center">Service Area</h3>
					<div class="container">
						<div class="form-group">
							<div class="col-md-6 col-sm-12">
								{{ form.address.errors }}
								<p class="text-muted">{{ form.address.help_text }}</p>
								<span class="required loweraddress"></span>
								{% with ph=form.address.name|capfirst  %}
									{% render_field form.address placeholder=ph class="form-control" %}
								{% endwith %}
								
							</div>
							<div class="col-md-6 col-sm-12">
								<p class="text-muted">{{ form.city.help_text }}</p>
								{% render_field form.city class='form-control' readonly='readonly' %}
							</div>
						</div>
				</div>
				<hr>
				
			<div class="row">
				<h3 class="text-center">Tell us about your home</h3>
				<div class="container">
					<div class="form-group {% if form.bedroomNumber.errors or form.bathroomNumber.errors %}has-error{% endif %}">
						<div class="col-md-6 col-sm-12 modify-select">
							{% for error in form.bedroomNumber.errors %}
								<label class="control-label" for="id_bedroomNumber">
									Please choose the number of bedrooms
								</label>
							{% endfor %}
								<div class="select-side2">
								    <i class="glyphicon glyphicon-menu-down blue"></i>
								</div>
								<span class="required"></span>
								{% render_field  form.bedroomNumber class="form-control top20" %}
								
						</div>
						<div class="col-md-6 col-sm-12 modify-select">
							{% for error in form.bathroomNumber.errors %}
								<label class="control-label" for="id_bathroomNumber">
									Please choose the number of bathrooms
								</label>
							{% endfor %}
							<div class="select-side2">
							    <i class="glyphicon glyphicon-menu-down blue"></i>
							</div>
							<span class="required"></span>
							{% render_field  form.bathroomNumber class="form-control top20" %}
							
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<h3 class="text-center"> Extras</h3>
				<div class="text-center">
					{{ form.extras.errors }}
					{% render_field form.extras %}
					
				</div>
			</div>
			<hr>
			<div class="row">
				<h3 class="text-center"> When do you want us to come?</h3>
				<div class="container">
					<div class="form-group {% if form.dateOfService.errors %}has-error{% endif %}">
						<div class="col-md-4 col-md-offset-4 col-sm-12">
							{% for error in form.dateOfService.errors %}
								<label class="control-label" for="id_dateOfService">
									{{ error }}
								</label>
							{% endfor %}
							<p class="text-muted">{{ form.dateOfService.help_text }}</p>
							<span class="required lowerdate"></span>
							{% with ph=form.dateOfService.label %}
								{% render_field form.dateOfService class="form-control" placeholder=ph %}
							{% endwith %}
							
						</div>
						
					</div>
				</div>
			</div>
			<hr>
		<!--
			<div class="row">
				<h3 class="text-center"> How often?</h3>
				<div class="text-center">
					{% render_field form.howOften %}
				</div>
			</div>
		-->		
			<div class="row">

				<h3 class="text-center">You will pay: {% render_field form.cost readonly="readonly" %} AMD</h3>
			</div>
			<div class="col-xs-12 text-center">
				<button type="submit" class="btn btn-primary"> Book Now</button>
			</div>
		</form>
	</div>
{% endblock content %}