{% extends 'base.html' %}
{% load widget_tweaks i18n %}
{% block title %}
	Maqr6 | Contact us - forget about cleaning!
{% endblock %}
{% block header %}{% endblock %}
{% block content %}

	<div class="contact-page subheader">
		<div class="header-txt white">
			<h1>{{ pageHeader.title }}</h1>
			<h2>{{ pageHeader.strapline }}</h2>
		</div>
	</div>
	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					    <form class="form-horizontal" method="post" action="">
					    	{% csrf_token %}
							<div class="row">
								{{ form.non_field_errors }}
								<div class="col-md-6 col-sm-12 modify-select">
									{{ form.contactReason.errors }}
									<h3>{{ form.contactReason.help_text|first }}</h3>
									<p class="text-muted">{{ form.contactReason.help_text|last }}</p>
									
										<div class="select-side">
										    <i class="glyphicon glyphicon-menu-down blue"></i>
										</div>
										{% render_field form.contactReason class="form-control" %}
									
								</div>
								<div class="col-md-6 col-sm-12">
									{% for err in form.email.errors %}
										<div class="alert alert-danger">{{ err }}</div>
									{% endfor %}
									<h3>{{ form.email.help_text|first }}</h3>
									<p class="text-muted">{{ form.email.help_text|last }}</p>
									{% with ph=form.email.name|capfirst %}
										{% render_field form.email class="form-control" placeholder=ph %}
									{% endwith %}
								</div>
							</div>
							<div class="row">		
								<div class="col-md-12">
									{{ form.text.errors }}
									<h3>{{ form.text.help_text|first }}</h3>
									<p class="text-muted">{{ form.text.help_text|last }}</p>
									{% render_field form.text class="form-control" %}
								</div>
							</div>
							<div class="row text-center top20">
								<button class="btn btn-primary">{% trans 'Send' %}</button>
							</div>
						</form>
				</div>
			<div class="panel panel-default">
				<div class="panel-body">
						<h2><em>{{ method1|safe }}</em></h2>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
						<h2>{{ method2 }}</h2>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
						<h2>{{ method3 }}</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}