{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
	Maqr6 | Forget about cleaning, enjoy the result!
{% endblock %}

{% block content %}
    <form id="addReview1" class="form-horizontal" method="post" action="">
    	{% csrf_token %}
		<div class="row">
			{{ form.non_field_errors }}
			{% if error == "1" %}
				<div class="alert alert-danger" role="alert"> 
					All fields are required, please try again
				</div>
			{% endif %}
			<div class="col-md-6 col-sm-12">
				{% render_field form.author class="form-control" placeholder="Your name" %}
				
			</div>
			<div class="col-md-6 col-sm-12">
				{% render_field form.rating class="form-control" %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% render_field form.reviewText class="form-control" placeholder="Any feedback?" %}
			</div>
		</div>
		<div class="row text-center">
			<button class="btn-primary"> Rate Now </button>
		</div>
	</form>
{% endblock content %}