
.btn-primary:hover{
	text-decoration: none;
}

.top20{
	margin-top: 20px
}

footer{
	margin-top: 30px
}

.page-header{
	margin: 0 !important;
}

h1{
	margin-top: 10px !important;
}

#id_howOften li, #id_extras li{
	display: inline;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer !important;
    background-color: #fff !important;
}

#id_cost{
	width: 70px;
	border: 1px solid transparent;
}


.modify-select select {
  border: solid 1px grey;
  border-radius: 3px;
  font-size: 16px;
  color: gray;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.modify-select .select-side {
  position: absolute;
  top: 27px;
  right: 27px;
  pointer-events: none;
}

.modify-select .select-side2 {
  position: absolute;
  top: 27px;
  right: 25px;
  pointer-events: none;
}

@media (max-width: 500px) {
  .modify-select .select-side {
  	position: absolute;
    top: 120px;
  }
}

@media (max-width: 500px) {
  .modify-select .select-side2 {
  	position: absolute;
    top: 7px;
  }
}


.modify-select .select-side i.blue, .modify-select .select-side2 i.blue {
  color: #4E7AF0;
}

.rating {
    color: #f6cb19;
    white-space: nowrap;
    text-shadow: 1px 1px #999;
    font-size: 20px
}

.icon-howitworks{
	font-size: 30px;
	color: rgba(102,175,233,.6);
}

.trust{
	background-color: #f0eddf;
	padding: 40px 0;
}

p#hlp-txt{
	margin: 0 0 2px;
}

div.header-img{
  width: auto;
  height: 500px;
  background: linear-gradient(0deg,rgba(27, 23, 26, 0.75),rgba(2, 39, 56, 0.84)),url('../img/bg.jpg');
  text-align:center;
  position:relative;
}

.subheader{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contact-page {
    background-image: url("../img/pattern-blue.jpg");
    width: auto;
    height: 500px;
    text-align:center;
    position:relative;
}

div.header-img .header-txt, .contact-page .header-txt{
  position: absolute;
    top: 30%;
    left:0;
    right:0;
    bottom:0;
}

.navbar{
  margin-bottom: 0 !important;
}

h1{
  font-size: 3em !important;
}

h2{
  font-size: 2em !important;
}

.fa{
  color: #abd4d2;
}

.trust .row{
  margin-top: 50px
}

.book-appointment {
    padding: 130px 0;
}

.messages{
  position: absolute;
  top: 50px;
  z-index: 2
}

span.required{
  position: absolute;
  top: 5px;
  color: red;
}

span.required.lowerdate{ top: 36px; }
span.required.loweraddress{ top: 18px; }
span.required:before { content: '*'; }

.transp-bg{
  background-color: rgba(200, 200, 225, 0.19);
  padding: 15px;
}

.white h1, .white h2{
  color: #fff;
}

.orange-bg{
  background-color: #ff684c;
}

@media (min-width: 750px) {
  .child {
      padding-top: 50%;
  }

}
